*{
    padding: 0;
    margin: 0;
    outline: 0;
  }
  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .body{
      scroll-behavior: smooth;
  }
  body{
      background-color: #DEF0F1;
  }
  /* menu part css start here  */
  .menu_bg{
    background-color: #186267;
  }
  .navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 18px;
    padding-left: 30px;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: #F8904D;
  }

  #map{
      margin-top: 150px;
  }
  .pathDetails h4{
      text-transform: capitalize;
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .from,.to{
     color: rgb(255, 41, 148);
  }
  .pathAvailable{
      box-shadow: 3px 3px 6px black;
      border-radius: .7rem;
      background-color: ivory;
  }
  #path{
      margin-top: 50px;
      margin-bottom: 20px;
  }
  .pathAvailable h4{
      padding-top: 30px;
      text-align: center;
      font-size: 30px;
      color: #707070;
      font-weight: 700;
      margin-bottom: 30px;
  }
  .air,.train,.bus{
      text-align: center;
      margin-bottom: 30px;
  }
  .optimalPath,.optimalCost{
      text-align: center;
  }
  .optimalPath_optimalCost{
      margin-top: 70px;
      box-shadow: 3px 3px 8px black;
      margin-bottom: 60px;
      border-radius: .8rem;
      background-color: ivory;
      position: relative;
  }
  .optimalPath_optimalCost h4{
      text-align: center;
      padding-top: 30px;
      text-align: center;
      font-size: 30px;
      color: #707070;
      font-weight: 700;
      margin-bottom: 30px;
  }
  .optimalPath p,.optimalCost p{
      text-align: left;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 40px;
      margin-top: 20px;
  }
  .clr{
      color: green;
      font-size: 18px;
      font-weight: 600;
  }
  .borderr{
        height: 299px;
        background-color: black;
        position: absolute;
        top: 77px;
        left: 545px;
        width: 1px ;
  }


  footer{
    background-color: #186267;
    padding-bottom: 40px;
}
.footer_part{
    padding-top: 50px;
}
.footer_part p{
    padding-top: 20px;
    font-size: 13px;
    color: rgb(211, 210, 208);
    text-align: justify;
    padding-bottom: 20px;
}
.sec_part h4{
    color: white;
    text-transform: uppercase;
}
.icon_list a{
    padding-right: 8px;
}
.sec_part h4{
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.underline1{
    height: 2px;
    width: 130px;
    background-color: blanchedalmond;
}
.underline{
    height: 2px;
    width: 130px;
    background-color: blanchedalmond;
}
.short_links{
    padding-top: 25px;
}
.s_lower{
    margin-bottom: 20px;
}
.short_links ul{
    padding-left: 0px;
    color: white;
}
.short_links ul li{
    font-size: 15px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.short_links a{
    color: white;
}
.short_links a:hover{
    color: #F8904D;
}
.contacts{
    padding-top: 50px;
}
.contacts h4{
    text-transform: uppercase;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.underlinee{
    height: 2px;
    width: 135px;
    background-color: blanchedalmond;
}
.con_info{
    padding-top: 25px;
}
.con_info h5{
    font-size: 15px;
    color: white;
}
.s2nd{
    padding-left: 43px;
}
.t3nd{
    padding-left: 38px;
}
.g_head{
    padding-top: 50px;
}
.g_head h4{
    text-transform: uppercase;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.image_sec{
    padding-top: 30px;
}
.img_sec1 img,.img_sec2 img{
    padding-bottom: 20px;
}
.con_info p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
}
.new_clr{
    color: rgb(255, 174, 0);
    font-family: 'Patrick Hand', cursive;
}
.contacts{
    margin-left: 56px;
}