*{
  padding: 0;
  margin: 0;
  outline: 0;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
    background-color: #DEF0F1;
}
/* menu part css start here  */
.menu_bg{
  background-color: #186267;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
  font-size: 18px;
  padding-left: 30px;
}

/* banner part css start here  */
/*#banner{
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-bottom: 60px;
  margin-top: 90px;
}
.bannner_part{
  padding-top: 60px;
}
.bannner_part h4{
  font-size: 60px;
  font-weight: 800px;
  color: #FFF7F7;
  text-align: center;
  font-weight: bold;
  margin-top: 250px;
    
  font-family: 'Anton', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Sacramento', cursive;

}*/

.content{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    font-weight: bold;
}

.content p{
    color: #4e4e4e;
}

.content h2{
  font-size: 40px;
  color: #3c3838; 
  font-family: 'Anton', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Sacramento', cursive;
}

/*form part css*/
.vh-100{
    margin-bottom: 300px;
}
.vh-100 p{
    margin-top: 20px;
}


/* footer part css start here  */

footer{
    background-color: #186267;
    padding-bottom: 40px;
}
.footer_part{
    padding-top: 50px;
}
.footer_part p{
    padding-top: 20px;
    font-size: 13px;
    color: rgb(211, 210, 208);
    text-align: justify;
    padding-bottom: 20px;
}
.sec_part h4{
    color: white;
    text-transform: uppercase;
}
.icon_list a{
    padding-right: 8px;
}
.sec_part h4{
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.underline1{
    height: 2px;
    width: 130px;
    background-color: blanchedalmond;
}
.underline{
    height: 2px;
    width: 130px;
    background-color: blanchedalmond;
}
.short_links{
    padding-top: 25px;
}
.s_lower{
    margin-bottom: 20px;
}
.short_links ul{
    padding-left: 0px;
    color: white;
}
.short_links ul li{
    font-size: 15px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.short_links a{
    color: white;
}
.short_links a:hover{
    color: #F8904D;
}
.contacts{
    padding-top: 50px;
}
.contacts h4{
    text-transform: uppercase;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.underlinee{
    height: 2px;
    width: 135px;
    background-color: blanchedalmond;
}
.con_info{
    padding-top: 25px;
}
.con_info h5{
    font-size: 15px;
    color: white;
}
.s2nd{
    padding-left: 43px;
}
.t3nd{
    padding-left: 38px;
}
.g_head{
    padding-top: 50px;
}
.g_head h4{
    text-transform: uppercase;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.image_sec{
    padding-top: 30px;
}
.img_sec1 img,.img_sec2 img{
    padding-bottom: 20px;
}
.con_info p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
}
.new_clr{
    color: rgb(255, 174, 0);
    font-family: 'Patrick Hand', cursive;
}
.contacts{
    margin-left: 56px;
}


/* footer part css end here */